<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="cordova-plugin-scaler"
      version="0.0.1">
    <name>Cordova Scaler Plugin</name>
    <description>A Cordova plugin that controls the scaling of the WebView on iOS</description>
    <keywords>cordova,scaler,scaling</keywords>
    <license>MIT</license>
    <repo>https://github.com/appfolio/cordova-plugin-scaler.git</repo>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Scaler">
                <param name="ios-package" value="CDVScaler" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/CDVScaler.h" />
        <source-file src="src/ios/CDVScaler.m" />

        <js-module src="www/scaler.js" name="scaler">
            <clobbers target="window.Scaler" />
        </js-module>
    </platform>

</plugin>
